name: Convert Contact List
on: 
  workflow_dispatch:
  schedule:
    - cron: "* */3 * * *"

jobs:
  build:
    name: Run Script
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: Amadevus/pwsh-script@v2
        id: script
        env:
          GH_TOKEN: ${{ github.token }}
        with:
          script: |
            # ------ AnyTone ------ #
            $DMRIdsContent = Get-Content ./DMRIds.dat
            $AnyToneCSVfile = "./Devices_Contact_List/AnyTone_Contacts.csv"
            $AnyToneTemplate = "--LINEnumber--,--DMRID--,--CALLSIGN--,*,*,*,*,*,Private Call,None" -join "`r`n"
            Remove-Item $AnyToneCSVfile -Force -ErrorAction SilentlyContinue
            Add-Content -Path $AnyToneCSVfile -Value "No.,Radio ID,Callsign,Name,City,State,Country,Remarks,Call Type,Call Alert"
            $Counter = 1
            foreach ($line in $DMRIdsContent) {
              $DMRID = $line -replace '^([0-9]{7})\s(\w.*)$','$1'
              $CALLSIGN = $line -replace '^([0-9]{7})\s(\w.*)$','$2'
              $NewLine = $AnyToneTemplate -replace "--LINEnumber--","$($Counter)" -replace "--DMRID--","$DMRID" -replace "--CALLSIGN--","$CALLSIGN"
              Add-Content -Path $AnyToneCSVfile -Value $NewLine
              $Counter++
            }
            (Get-Content $AnyToneCSVfile -Raw).Replace("`n","`r`n") | Set-Content $AnyToneCSVfile -NoNewline -Force

            # ------ Retevis OpenGD77 ------ #
            $DMRIdsContent = Get-Content ./DMRIds.dat
            $RetevisCSVfile = "./Devices_Contact_List/Retevis_Contact.csv"
            $RetevisTemplate = "--LINEnumber--,--CALLSIGN--,--DMRID--,Private Call,On,None,None"
            Remove-Item $RetevisCSVfile -Force -ErrorAction SilentlyContinue
            Add-Content -Path $RetevisCSVfile -Value "Number,Name,Call ID,Type,Ring Style,Call Receive Tone,Repeater Slot override"
            Add-Content -Path $RetevisCSVfile -Value "0,QRA-Team,9,Group Call,On,None,2"
            $Counter = 6
            foreach ($line in $DMRIdsContent) {
              $DMRID = $line -replace '^([0-9]{7})\s(\w.*)$','$1'
              $CALLSIGN = $line -replace '^([0-9]{7})\s(\w.*)$','$2'
              $NewLine = $RetevisTemplate -replace "--LINEnumber--", "$($Counter)" -replace "--DMRID--","$DMRID" -replace "--CALLSIGN--","$CALLSIGN"
              Add-Content -Path $RetevisCSVfile -Value $NewLine
              $Counter++
            }

            # ------ Retevis RT3s Original ------ #
            $DMRIdsContent = Get-Content ./DMRIds.dat
            $RetevisOrigCSVfile = "./Devices_Contact_List/RetevisOrig_Contact.csv"
            $RetevisOrigTemplate = "--CALLSIGN--,2,--DMRID--,0"
            Remove-Item $RetevisOrigCSVfile -Force -ErrorAction SilentlyContinue
            Add-Content -Path $RetevisOrigCSVfile -Value "Contact Name,Call Type,Call ID,Call Receive Tone"
            Add-Content -Path $RetevisOrigCSVfile -Value "QRA-Team,1,9,0"
            foreach ($line in $DMRIdsContent) {
              $DMRID = $line -replace '^([0-9]{7})\s(\w.*)$','$1'
              $CALLSIGN = $line -replace '^([0-9]{7})\s(\w.*)$','$2'
              $NewLine = $RetevisOrigTemplate -replace "--DMRID--","$DMRID" -replace "--CALLSIGN--","$CALLSIGN"
              Add-Content -Path $RetevisOrigCSVfile -Value $NewLine
            }

            # ------ Zastone D900 ------ #
            $DMRIdsContent = Get-Content ./DMRIds.dat
            $ZastoneD900CSVfile = "./Devices_Contact_List/ZastoneD900_Contact.csv"
            $ZastoneD900Template = '"--DMRID--","--CALLSIGN--","Private Call","No","","","","",""'
            Remove-Item $ZastoneD900CSVfile -Force -ErrorAction SilentlyContinue
            Add-Content -Path $ZastoneD900CSVfile -Value '"9","QRA-TEAM","Group Call","No","","","","",""'
            foreach ($line in $DMRIdsContent) {
              $DMRID = $line -replace '^([0-9]{7})\s(\w.*)$','$1'
              $CALLSIGN = $line -replace '^([0-9]{7})\s(\w.*)$','$2'
              $NewLine = $ZastoneD900Template -replace "--DMRID--","$DMRID" -replace "--CALLSIGN--","$CALLSIGN"
              Add-Content -Path $ZastoneD900CSVfile -Value $NewLine
            }

            # ------ Zastone 008 ------ #
            $DMRIdsContent = Get-Content ./DMRIds.dat
            $Zastone008CSVfile = "./Devices_Contact_List/Zastone008_Contact.csv"
            $Zastone008Template = '--DMRID--,--CALLSIGN--,"","","","",QRA'
            Remove-Item $Zastone008CSVfile -Force -ErrorAction SilentlyContinue
            Add-Content -Path $Zastone008CSVfile -Value "Radio ID,Callsign,Name,City,State/Prov,Country,Remarks"
            foreach ($line in $DMRIdsContent) {
              $DMRID = $line -replace '^([0-9]{7})\s(\w.*)$','$1'
              $CALLSIGN = $line -replace '^([0-9]{7})\s(\w.*)$','$2'
              $NewLine = $Zastone008Template -replace "--DMRID--","$DMRID" -replace "--CALLSIGN--","$CALLSIGN"
              Add-Content -Path $Zastone008CSVfile -Value $NewLine
            }

            # ------ Motorola ------ #
            $DMRIdsContent = Get-Content ./DMRIds.dat
            $MotorolaCSVfile = "./Devices_Contact_List/Motorola_Contact.csv"
            $MotorolaTemplate = "--CALLSIGN--,False,,,False,,,False,,,,,,,False,,,,,,,,,,False,--DMRID--,Regular,True,No Style,Repetitive,Private Call,False,False,,,,,,,False,,"
            Remove-Item $MotorolaCSVfile -Force -ErrorAction SilentlyContinue
            Add-Content -Path $MotorolaCSVfile -Value "ContactName,Delete_Contact,Rename_Contact,Comments,Delete_FiveToneCalls,FiveToneCalls-S5CLDLL_5TTELEGRAM,FiveToneCalls-S5CLDLL_5TCALLADD,Delete_MDCCalls,MDCCalls-AU_CALLLSTID,MDCCalls-AU_MDCSYS,MDCCalls-AU_RVRTPERS_Zone,MDCCalls-AU_RVRTPERS,MDCCalls-AU_SPTPLDPL,MDCCalls-AU_CALLTYPE,Delete_QuikCallIICalls,QuikCallIICalls-QU_QCIISYS,QuikCallIICalls-QU_RVRTPERS_Zone,QuikCallIICalls-QU_RVRTPERS,QuikCallIICalls-QU_CALLFORMAT,QuikCallIICalls-QU_TONEATXFRE,QuikCallIICalls-QU_CODEA,QuikCallIICalls-QU_TONEBTXFRE,QuikCallIICalls-QU_CODEB,QuikCallIICalls-QU_STRIPPLDPL,Delete_DigitalCalls,DigitalCalls-DU_CALLLSTID,DigitalCalls-DU_ROUTETYPE,DigitalCalls-DU_CALLPRCDTNEN,DigitalCalls-DU_RINGTYPE,DigitalCalls-DU_TXTMSGALTTNTP,DigitalCalls-DU_CALLTYPE,DigitalCalls-DU_OVCMCALL,Delete_CapacityPlusCalls,CapacityPlusCalls-CAPPLUSUCL_CALLLSTID,CapacityPlusCalls-CAPPLUSUCL_ROUTETYPE,CapacityPlusCalls-CAPPLUSUCL_CALLPRCDTNEN,CapacityPlusCalls-CAPPLUSUCL_RINGTYPE,CapacityPlusCalls-CAPPLUSUCL_TXTMSGALTTNTP,CapacityPlusCalls-CAPPLUSUCL_CALLTYPE,Delete_PhoneCalls,PhoneCalls-PHNUCLELL_CALLID,PhoneCalls-PHNUCLELL_RINGTYPE"
            Add-Content -Path $MotorolaCSVfile -Value "Contact Name,Delete_Contact,Rename_Contact,Comments,Delete_FiveToneCalls,Five Tone Calls - Telegram,Five Tone Calls - Address,Delete_MDCCalls,MDC Calls - Call ID (Hex),MDC Calls - MDC System,MDC Calls - Revert Channel Zone,MDC Calls - Revert Channel,MDC Calls - Strip TPL/DPL,MDC Calls - Call Type,Delete_QuikCallIICalls,Quik CallII Calls - Quik-Call II System,Quik CallII Calls - Revert Channel Zone,Quik CallII Calls - Revert Channel,Quik CallII Calls - Call Format,Quik CallII Calls - Tone A Freq (Hz),Quik CallII Calls - Tone A Code,Quik CallII Calls - Tone B Freq (Hz),Quik CallII Calls - Tone B Code,Quik CallII Calls - Strip TPL/DPL,Delete_DigitalCalls,Digital Calls - Call ID,Digital Calls - Route Type,Digital Calls - Call Receive Tone,Digital Calls - Ring Style,Digital Calls - Text Message Alert Tone,Digital Calls - Call Type,Digital Calls - DU_OVCMCALL,Delete_CapacityPlusCalls,Capacity Plus Calls - Call ID,Capacity Plus Calls - Route Type,Capacity Plus Calls - Call Receive Tone,Capacity Plus Calls - Ring Style,Capacity Plus Calls - Text Message Alert Tone,Capacity Plus Calls - Call Type,Delete_PhoneCalls,Phone Calls - Number,Phone Calls - Ring Type"
            Add-Content -Path $MotorolaCSVfile -Value "Call1,False,,,False,Tel1,1,False,0xE001,Sys1,None,Selected,False,Group Call,False,Sys1,None,Selected,Two Tone,288.5,138,288.5,138,False,False,1,Regular,False,No Style,Repetitive,Group Call,False,False,1,Regular,False,No Style,Repetitive,Group Call,False,,"
            Add-Content -Path $MotorolaCSVfile -Value "QRA-Team,False,,,False,,,False,,,,,,,False,,,,,,,,,,False,9,Regular,False,No Style,Repetitive,Group Call,False,False,,,,,,,False,,"
            Add-Content -Path $MotorolaCSVfile -Value "QRA-5973,False,,,False,,,False,,,,,,,False,,,,,,,,,,False,5973,Regular,False,No Style,Repetitive,Group Call,False,False,,,,,,,False,,"
            Add-Content -Path $MotorolaCSVfile -Value "ROOM 1,False,,,False,,,False,,,,,,,False,,,,,,,,,,False,94001,Regular,True,No Style,Repetitive,Private Call,False,False,,,,,,,False,,"
            Add-Content -Path $MotorolaCSVfile -Value "ROOM 2,False,,,False,,,False,,,,,,,False,,,,,,,,,,False,94002,Regular,True,No Style,Repetitive,Private Call,False,False,,,,,,,False,,"
            Add-Content -Path $MotorolaCSVfile -Value "ROOM 3,False,,,False,,,False,,,,,,,False,,,,,,,,,,False,94003,Regular,True,No Style,Repetitive,Private Call,False,False,,,,,,,False,,"
            Add-Content -Path $MotorolaCSVfile -Value "ROOM 4,False,,,False,,,False,,,,,,,False,,,,,,,,,,False,94004,Regular,True,No Style,Repetitive,Private Call,False,False,,,,,,,False,,"
            Add-Content -Path $MotorolaCSVfile -Value "ROOM 5,False,,,False,,,False,,,,,,,False,,,,,,,,,,False,94005,Regular,True,No Style,Repetitive,Private Call,False,False,,,,,,,False,,"
            Add-Content -Path $MotorolaCSVfile -Value "ROOM 6,False,,,False,,,False,,,,,,,False,,,,,,,,,,False,94006,Regular,True,No Style,Repetitive,Private Call,False,False,,,,,,,False,,"
            foreach ($line in $DMRIdsContent) {
              $DMRID = $line -replace '^([0-9]{7})\s(\w.*)$','$1'
              $CALLSIGN = $line -replace '^([0-9]{7})\s(\w.*)$','$2'
              $NewLine = $MotorolaTemplate -replace "--DMRID--","$DMRID" -replace "--CALLSIGN--","$CALLSIGN"
              Add-Content -Path $MotorolaCSVfile -Value $NewLine
            }

            # ------ MotorolaRus Rus ------ #
            $DMRIdsContent = Get-Content ./DMRIds.dat
            $MotorolaRusCSVfile = "./Devices_Contact_List/MotorolaRus_Rus_Contact.csv"
            $MotorolaRusTemplate = "--CALLSIGN--,False,,,False,,,False,,,,,,,False,,,,,,,,,,False,--DMRID--,Обычный,True,Без стиля,Повторяющийся,Частный вызов,False,False,,,,,,,False,,"
            Remove-Item $MotorolaRusCSVfile -Force -ErrorAction SilentlyContinue
            Add-Content -Path $MotorolaRusCSVfile -Value "ContactName,Delete_Contact,Rename_Contact,Comments,Delete_FiveToneCalls,FiveToneCalls-S5CLDLL_5TTELEGRAM,FiveToneCalls-S5CLDLL_5TCALLADD,Delete_MDCCalls,MDCCalls-AU_CALLLSTID,MDCCalls-AU_MDCSYS,MDCCalls-AU_RVRTPERS_Zone,MDCCalls-AU_RVRTPERS,MDCCalls-AU_SPTPLDPL,MDCCalls-AU_CALLTYPE,Delete_QuikCallIICalls,QuikCallIICalls-QU_QCIISYS,QuikCallIICalls-QU_RVRTPERS_Zone,QuikCallIICalls-QU_RVRTPERS,QuikCallIICalls-QU_CALLFORMAT,QuikCallIICalls-QU_TONEATXFRE,QuikCallIICalls-QU_CODEA,QuikCallIICalls-QU_TONEBTXFRE,QuikCallIICalls-QU_CODEB,QuikCallIICalls-QU_STRIPPLDPL,Delete_DigitalCalls,DigitalCalls-DU_CALLLSTID,DigitalCalls-DU_ROUTETYPE,DigitalCalls-DU_CALLPRCDTNEN,DigitalCalls-DU_RINGTYPE,DigitalCalls-DU_TXTMSGALTTNTP,DigitalCalls-DU_CALLTYPE,DigitalCalls-DU_OVCMCALL,Delete_CapacityPlusCalls,CapacityPlusCalls-CAPPLUSUCL_CALLLSTID,CapacityPlusCalls-CAPPLUSUCL_ROUTETYPE,CapacityPlusCalls-CAPPLUSUCL_CALLPRCDTNEN,CapacityPlusCalls-CAPPLUSUCL_RINGTYPE,CapacityPlusCalls-CAPPLUSUCL_TXTMSGALTTNTP,CapacityPlusCalls-CAPPLUSUCL_CALLTYPE,Delete_PhoneCalls,PhoneCalls-PHNUCLELL_CALLID,PhoneCalls-PHNUCLELL_RINGTYPE"
            Add-Content -Path $MotorolaRusCSVfile -Value "Имя контакта,Delete_Contact,Rename_Contact,Comments,Delete_FiveToneCalls,Пятитоновые вызовы - Телеграмма,Пятитоновые вызовы - Адрес,Delete_MDCCalls,Вызовы MDC - ИД вызова (16-ричный),Вызовы MDC - Система MDC,Вызовы MDC - Возврат к каналу и зоне,Вызовы MDC - Базовый канал,Вызовы MDC - Убрать TPL/DPL,Вызовы MDC - Тип вызова,Delete_QuikCallIICalls,Вызовы Quik CallII - Система Quik-Call II,Вызовы Quik CallII - Возврат к каналу и зоне,Вызовы Quik CallII - Базовый канал,Вызовы Quik CallII - Формат вызова,Вызовы Quik CallII - Частота тона А (Гц),Вызовы Quik CallII - Код тонального сигнала A,Вызовы Quik CallII - Частота тона В (Гц),Вызовы Quik CallII - Код тонального сигнала B,Вызовы Quik CallII - Убрать TPL/DPL,Delete_DigitalCalls,Цифровые вызовы - ИД вызова,Цифровые вызовы - Тип маршрута,Цифровые вызовы - Тон приема вызова,Цифровые вызовы - Стиль звонка,Цифровые вызовы - Тон оповещения о текстовом сообщении,Цифровые вызовы - Тип вызова,Цифровые вызовы - DU_OVCMCALL,Delete_CapacityPlusCalls,Вызовы Capacity Plus - ИД вызова,Вызовы Capacity Plus - Тип маршрута,Вызовы Capacity Plus - Тон приема вызова,Вызовы Capacity Plus - Стиль звонка,Вызовы Capacity Plus - Тон оповещения о текстовом сообщении,Вызовы Capacity Plus - Тип вызова,Delete_PhoneCalls,Телефонные вызовы - Номер,Телефонные вызовы - Тип звонка"
            Add-Content -Path $MotorolaRusCSVfile -Value "Вызов1,False,,,False,Tel1,1,False,,,,,,,False,,,,,,,,,,False,,,,,,,,False,,,,,,,False,,"
            Add-Content -Path $MotorolaRusCSVfile -Value "Вызов2,False,,,False,,,False,0xE001,Sys1,Нет,Выбранное,False,Групповой вызов,False,,,,,,,,,,False,,,,,,,,False,,,,,,,False,,"
            Add-Content -Path $MotorolaRusCSVfile -Value "Вызов3,False,,,False,,,False,,,,,,,False,Sys1,Нет,Выбранное,Два тона,288.5,138,288.5,138,False,False,,,,,,,,False,,,,,,,False,,"
            Add-Content -Path $MotorolaRusCSVfile -Value "Вызов4,False,,,False,,,False,,,,,,,False,,,,,,,,,,False,,,,,,,,False,1,Обычный,False,Без стиля,Повторяющийся,Групповой вызов,False,,"
            Add-Content -Path $MotorolaRusCSVfile -Value "Вызов5,False,,,False,,,False,,,,,,,False,,,,,,,,,,False,,,,,,,,False,,,,,,,False,1,Без стиля"
            Add-Content -Path $MotorolaRusCSVfile -Value "QRA-Team,False,,,False,,,False,,,,,,,False,,,,,,,,,,False,9,Обычный,False,Без стиля,Повторяющийся,Групповой вызов,False,False,,,,,,,False,,"
            Add-Content -Path $MotorolaRusCSVfile -Value "QRA-5973,False,,,False,,,False,,,,,,,False,,,,,,,,,,False,5973,Обычный,False,Без стиля,Повторяющийся,Групповой вызов,False,False,,,,,,,False,,"
            Add-Content -Path $MotorolaRusCSVfile -Value "ROOM 1,False,,,False,,,False,,,,,,,False,,,,,,,,,,False,1,Обычный,True,Без стиля,Повторяющийся,Частный вызов,False,False,,,,,,,False,,"
            Add-Content -Path $MotorolaRusCSVfile -Value "ROOM 2,False,,,False,,,False,,,,,,,False,,,,,,,,,,False,1,Обычный,True,Без стиля,Повторяющийся,Частный вызов,False,False,,,,,,,False,,"
            Add-Content -Path $MotorolaRusCSVfile -Value "ROOM 3,False,,,False,,,False,,,,,,,False,,,,,,,,,,False,1,Обычный,True,Без стиля,Повторяющийся,Частный вызов,False,False,,,,,,,False,,"
            Add-Content -Path $MotorolaRusCSVfile -Value "ROOM 4,False,,,False,,,False,,,,,,,False,,,,,,,,,,False,1,Обычный,True,Без стиля,Повторяющийся,Частный вызов,False,False,,,,,,,False,,"
            Add-Content -Path $MotorolaRusCSVfile -Value "ROOM 5,False,,,False,,,False,,,,,,,False,,,,,,,,,,False,1,Обычный,True,Без стиля,Повторяющийся,Частный вызов,False,False,,,,,,,False,,"
            Add-Content -Path $MotorolaRusCSVfile -Value "ROOM 6,False,,,False,,,False,,,,,,,False,,,,,,,,,,False,1,Обычный,True,Без стиля,Повторяющийся,Частный вызов,False,False,,,,,,,False,,"
            foreach ($line in $DMRIdsContent) {
              $DMRID = $line -replace '^([0-9]{7})\s(\w.*)$','$1'
              $CALLSIGN = $line -replace '^([0-9]{7})\s(\w.*)$','$2'
              $NewLine = $MotorolaRusTemplate -replace "--DMRID--","$DMRID" -replace "--CALLSIGN--","$CALLSIGN"
              Add-Content -Path $MotorolaRusCSVfile -Value $NewLine
            }

            # ------ TAKT ------ #
            pip install pandas
            pip install openpyxl
            Copy-Item DMRIds.dat ./Devices_Contact_List/DMRIds.dat
            Set-Location Devices_Contact_List
            python takt_convert.py

      - name: Update files in repository
        uses: actions-x/commit@v6
        with:
          email: "krot4u@gmail.com"
          name: GitHub Actions Autocommitter
          branch: master
          files: Devices_Contact_List/*
          repository: https://github.com/${{ github.repository }}
          token: ${{ github.token }}
          force: true